@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&display=swap');


:root {
  --main: #db0000;
  --sub: #831010;
  --grey: #2F2F2F;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/IN-en-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  width: 100%;
  height: 120vh;

  background-size: cover;
  background-position: center;
}


.logo {
  position: absolute;
  top: 0;
  width: 150px;
  margin: 20px;
}


.lang {
  position: absolute;
  top: 0;
  right: 100px;
  padding: 8px;
  background: transparent;
  margin-top: 20px;
  color: #FFFFFF;
  border: 1px solid #535353;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;

}



.signIn {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 8px;
  background: var(--main);
  margin: 20px;
  color: #FFFFFF;
  font-size: 13px;
  border: 1px solid #535353;
  border-radius: 4px;
  font-weight: 500;
}



/* home contents */

.home-contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 80px;
}

.title {
  color: #FFFFFF;
  font-size: 40px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;

}

.description1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 30px;
}

.description2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

}


/* form */


.signUp {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
  width:80vw;

}


.signUp input {
  flex: 1;
  border: 1px solid var(--grey);
  outline: 0;
  margin-left: 20px;
  background: #181818;
  color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 6px;
  opacity: .7;

}

.signUp button {
  background: var(--main);
  border: 0;
  outline: 0;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
  opacity: 1;
  border-radius: 6px;


}


/* one */

.one {
  background: #000000;
  border-top: 7px solid var(--grey);
}

.one-area {
  display: flex;
}

.one-text-area {
  margin-top: 100px;
  padding-left: 60px;
}

.one-title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.one-description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.one-img-area {
  margin-top: 50px;
  position: relative;
}

.tv {
  width: 500px;
}

.one-video {
  position: absolute;
  top: 80px;
  right: 72px;
  width: 361px;
}


/* two */

.two {
  background: #000000;
  border-top: 7px solid var(--grey);
}

.two-area {
  display: flex;
}

.two-text-area {
  margin-top: 80px;
  padding-bottom:40px;
}

.two-title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;

}

.two-description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.two-img-area {
  margin-top: 70px;
  position: relative;
}

.mobile {
  width: 500px;
  margin-bottom: 80px;
}

.two-video {
  position: absolute;
  top: 80px;
  right: 72px;
  width: 361px;
}

.download {
  position: absolute;
  top: 250px;
  left: 115px;
  border: 1px solid var(--grey);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: 90px;
}

.box {
  width: 70px;
  padding-left: 20px;
}

.download-title {
  color: #FFFFFF;
  font-size: 12px;
  padding-right: 20px;
  font-weight: 400;
  padding-left: 20px;

}

.downloading {
  color: #2435F7;
  font-size: 10px;
  font-weight: 400;
}

.circle {
  color: #2435F7;
  font-size: 80px;
  padding-right: 20px;
}


/* three */

.three {
  background: #000000;
  border-top: 7px solid var(--grey);
}

.three-area {
  display: flex;
}

.three-text-area {
  margin-top: 100px;
  padding-left: 60px;
}

.three-title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.three-description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.three-img-area {
  margin-top: 50px;
  position: relative;
  padding: 20px;
}

.multi {
  width: 500px;
}



/* four */

.four {
  background: #000000;
  border-top: 7px solid var(--grey);
}

.four-area {
  display: flex;
}

.four-text-area {
  margin-top: 100px;
  padding-left: 60px;
}

.four-title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-right: 30px;

}

.four-description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  padding-right: 30px;
  margin-bottom: 80px;
}

.four-img-area {
  margin-top: 50px;
  position: relative;
  padding: 20px;
}

.kids {
  width: 450px;
}

/* faq */

.faq {
  background: #000000;
  border-top: 7px solid var(--grey);
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #FFFFFF;
}

.faq-title {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  margin: 60px;
}


.details {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}


.details li {
  list-style: none;
  width: 100%;
  padding: 5px;

}


.details li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: var(--grey);
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform .5s;
}

input[type="radio"] {
  display: none;
}


.content {
  background: var(--grey);
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s, padding .5s;
}

.details input[type="radio"]:checked+label+.content {
  max-height: 600px;
  padding: 30px 20px;
}

.details input[type="radio"]:checked+label::after {
  transform: rotate(135deg);
}


.sign-up-description {
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
}

.sign-up-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-last {

  width: 60%;
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
  width: 60%;

}

.signUp-last input {
  flex: 1;
  border: 1px solid var(--grey);
  outline: 0;
  margin-left: 20px;
  background: #181818;
  color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 6px;
  opacity: .7;

}

.signUp-last button {
  background: var(--main);
  border: 0;
  outline: 0;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
  opacity: 1;
  border-radius: 6px;
  margin: 40px 0;
}

.footer {
  background: #000000;
  border-top: 7px solid var(--grey);
  font-size: 18px;
  color: #D4D4D4;
}

.question {
  font-weight: 400;
  font-size: 12px;
  padding: 60px 80px;
  margin-bottom: 30px;
}

.question a {
  color: #D4D4D4;
}


.footer .row {
  display: flex;
  justify-content: left;
  align-items: center;
}



.footer .row .col {
  padding: 0 80px;
}

.footer .row .col a {
  color: #D4D4D4;
  font-size: 11px;

}


.credits {
  color: #C8C8C8;
  padding: 40px 80px;
  font-weight: 400;
}

.lang2 {
  margin-left: 80px;
  padding: 8px;
  background: transparent;
  margin-top: 60px;
  color: #FFFFFF;
  border: 1px solid #535353;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}



/* -----media queries---------- */

@media screen and (max-width:880px) {

  * {
    overflow-x: hidden;
  }

  .banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/IN-en-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
  }

  .logo {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 20px;
  }

  .lang {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 8px;
    background: transparent;
    margin-top: 20px;
    color: #FFFFFF;
    border: 1px solid #535353;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;

  }



  .signIn {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 8px;
    background: var(--main);
    margin: 20px;
    color: #FFFFFF;
    font-size: 13px;
    border: 1px solid #535353;
    border-radius: 4px;
    font-weight: 500;
  }



  /* home contents */


  .home-contents {
    width: 100%;
  }

  .title {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    padding: 0 5px;
  }

  .description1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .description2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

  }

  /* form */


  .signUp {
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-top: 50px;
    width: 80vw;

  }


  .signUp input {
    flex: 1;
    border: 1px solid var(--grey);
    outline: 0;
    background: #181818;
    color: #FFFFFF;
    border-radius: 6px;
    opacity: .7;

  }

  .signUp button {
    background: var(--main);
    border: 0;
    outline: 0;
    color: #FFFFFF;
    font-size: 13px;
    cursor: pointer;
    padding: 15px 30px;
    opacity: 1;
    border-radius: 6px;


  }

  /* one */

  .one {
    background: #000000;
    border-top: 7px solid var(--grey);
  }

  .one-area {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .one-text-area {
    margin-top: 100px;
    padding: 0;
    text-align: center;
  }

  .one-title {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
  }

  .one-description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px;
  }

  .one-img-area {
    margin-top: 50px;
    position: relative;

  }

  .tv {
    width: 350px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:80px;
  }

  .one-video {
    position: absolute;
    top: 68px;
    right: 65px;
    width: 223px;
  }


  /* two */

  .two {
    background: #000000;
    border-top: 7px solid var(--grey);
  }

  .two-area {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .two-text-area {
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:80px;
  }

  .two-title {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;

  }

  .two-description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;

  }

  .two-img-area {
    margin-top: 70px;
    position: relative;
  }

  .mobile {
    width: 400px;
    margin-bottom: 30px;
  }


  .download {
    position: absolute;
    top: 195px;
    left:67px;
    border: 1px solid var(--grey);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    height: 90px;
    overflow: hidden;
  }

  .box {
    width: 55px;
    padding-left: 20px;
  }

  .download-title {
    color: #FFFFFF;
    font-size: 12px;
    padding-right: 20px;
    font-weight: 400;
    padding-left: 20px;

  }

  .downloading {
    color: #2435F7;
    font-size: 10px;
    font-weight: 400;
  }

  .circle {
    color: #2435F7;
    font-size: 80px;
    padding-right: 20px;
    padding-left: 10px;

  }


  /* three */

  .three {
    background: #000000;
    border-top: 7px solid var(--grey);
  }

  .three-area {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .three-text-area {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
  }

  .three-title {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .three-description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
  }

  .three-img-area {
    margin-top: 30px;
    position: relative;
    padding: 20px;
  }

  .multi {
    width: 400px;
  }



  /* four */

  .four {
    background: #000000;
    border-top: 7px solid var(--grey);
  }

  .four-area {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .four-text-area {
    margin-top: 30px;
    text-align: center;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-items: center;
    align-items: center;

  }

  .four-title {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 15px;
   padding: 20px;
  margin-top: 30px;
  }

  .four-description {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    padding: 20px;

  }

  .kids {
    width: 350px;
  }

  /* faq */

  .faq {
    background: #000000;
    border-top: 7px solid var(--grey);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
  }

  .faq-title {
    color: #FFFFFF;
    text-align: center;
    font-size:30px;
    margin: 60px;
  }


  .details {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
  }


  .details li {
    list-style: none;
    width: 100%;
    padding: 5px;

  }


  .details li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background: var(--grey);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }

  label::after {
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform .5s;
  }

  input[type="radio"] {
    display: none;
  }


  .content {
    background: var(--grey);
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
  }

  .details input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
  }

  .details input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
  }


  .sign-up-description {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
  }

  .sign-up-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .signUp-last {
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-top: 30px;
    width: 80vw;

  }


  .signUp-last-input {
    flex: 1;
    border: 1px solid var(--grey);
    outline: 0;
    background: #181818;
    color: #FFFFFF;
    border-radius: 6px;
    opacity: .7;

  }

  .signUp-last-button {
    background: var(--main);
    border: 0;
    outline: 0;
    color: #FFFFFF;
    font-size: 13px;
    cursor: pointer;
    padding: 15px 30px;
    opacity: 1;
    border-radius: 6px;


  }

  .footer {
    background: #000000;
    border-top: 7px solid var(--grey);
    font-size: 18px;
    color: #D4D4D4;
  }

  .question {
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    padding: 60px 30px;
    margin-bottom: 30px;
  }

  .question a {
    color: #D4D4D4;
  }


  .footer .row {
    display: flex;
    justify-content: left;
    align-items: center;
  }



  .footer .row .col {
    padding: 0 30px;
  }

  .footer .row .col a {
    color: #D4D4D4;
    font-size: 11px;

  }


  .credits {
    color: #C8C8C8;
    padding: 40px 30px;
    font-weight: 400;
  }

  .lang2 {
    margin-left: 30px;
    padding: 8px;
    background: transparent;
    margin-top: 60px;
    color: #FFFFFF;
    border: 1px solid #535353;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
  }






}
